file sum.json
{
  "updatedAt": "2025-09-15T13:07:22.000Z",
  "createdAt": "2025-09-01T20:25:52.108Z",
  "id": "1438o260Eyk7roJM",
  "name": "file sum",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "ccf8f6ae-60ac-492e-8c0b-b9d527726050",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        64
      ],
      "id": "9a00a689-a932-48e7-82e4-bcbcc91112d8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1g6v7h-y3q8rgBTavGIMFs7wnBn4xd8p9",
          "mode": "list",
          "cachedResultName": "1 - לדבר עם מכונה - כתיבת פרומפטים.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1g6v7h-y3q8rgBTavGIMFs7wnBn4xd8p9/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        64
      ],
      "id": "6fa16cc0-5db9-4669-9325-c52c4edab003",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XRcQMmqFCIXxSneK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const rawText = item.json.text || '';\n\n  const cleanText = rawText\n    .replace(/\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/g, '')\n    .replace(/^\\s*\\d{1,3}\\s*$/gm, '')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{2,}/g, '\\n\\n') \n    .replace(/\\n\\s*/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n\n  return {\n    json: {\n      ...item.json,\n      cleanText\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        64
      ],
      "id": "e4477286-d1fd-4fd6-9875-bbe7e5721461",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee87b29a-0e5a-4f9e-9e43-7e7587eb9e9b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "6824bdf7-3d31-446d-b54a-721891068b54",
              "name": "cleanText",
              "value": "={{ $json.cleanText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        64
      ],
      "id": "451ee83c-ef48-4972-af08-4cdcbd7faed9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        288
      ],
      "id": "e70b5a46-c186-41fd-965c-bb013553012a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3cccdT1hyMrXCzp5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= אני צריך שתסכם את התוכן הבא לטקסט\nברור וקריא בעל מבנה לוגי תקין.\nבלי הקדמה הסברים או פרשנויות \nמלל בלבד שמסכם את הטקסט שהתקבל , באותה שפה שהתקבל \n\n\n{{ $json.cleanText }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1120,
        64
      ],
      "id": "c30af4c0-11f1-4c76-8f63-a0ad9b6bffa6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        64
      ],
      "id": "8020c210-a6d3-45d0-a117-d7f7ae31eaf1",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "text": "02/16/2025\n1\nאלעדדרמון\nמרצה בתחום כלשהו\n\"לדבר\"עם מכונה \nאיך לכתובפרומפטאפקטיבי?\nהיי,ותודה שהצטרפת!\nמיד מתחילים...\nאלעדדרמון\nמוביל שבועAI\nבהשתתפות:\nמתחילים בשעה\n09:30☺\n1\n2\n\n02/16/2025\n2\n050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il\nחומרים להמשך הלמידה\nשיתוף תוצריםלפידבק מקצועי\nתרגיליםלדוגמה\nתרגול\nלצפייהחוזרת\nהקלטות\nרשימת כליםלכל דוגמה\nמצגת+חוברת סיכוםודוגמאות\nחומרי למידה\nטופס ייעודי\nלשאלות ותשובות\nתמיכה\n3\n4\n\n02/16/2025\n3\nאלעד דרמון\nייעוץAIוכלים דיגיטלים לארגונים\nעל מה נדבר\nבהדרכה?\n5\n6\n\n02/16/2025\n4\nסיכום\nוטיפים להמשך...\nכלים והדגמות\nלפרומפטיםאפקטיביים\nמה זה\"פרומפט\"? \nואיך זה עובד...\n3חלקים:\nעל מה נדברבהדרכה?\nQ & A\nשאלות ותשובות\n7\n8\n\n02/16/2025\n5\nמהפיכה טכנולוגית\nAI\nהרבה כלים\"לכיף...\"\n2024\nבינה מלאכותית|\"תקופת מעבר\"\nשיפורביצועים עסקיים\n2025\nארגז כלים\nלפי משימות\nמאובטח\nעומס כלים\nלא רלוונטי\nלא מאובטח\n9\n10\n\n02/16/2025\n6\nמשימות שלוקחות\nהרבה זמן\nהתייעלותושיפור ביצועים עםAI\nהתייעלותושיפור ביצועים\n11\n12\n\n02/16/2025\n7\n5שעות\n100\n3שעות\n118 \nתפוקה\nזמן\n18%+\nשיפור ביצועים\n40%-\nחיסכון בזמן\nמשימה\nהתייעלותושיפור ביצועים\n18%שיפורב-40%פחות זמן\nהתייעלותושיפור ביצועים \nהתייעלותושיפור ביצועים\n13\n14\n\n02/16/2025\n8\nהתייעלותושיפור ביצועים \nהתייעלותושיפור ביצועים\n30%אוטומציהבתוך5שנים\nהתייעלותושיפור ביצועים \nהתייעלותושיפור ביצועים\n15\n16\n\n02/16/2025\n9\n8קטגוריות:\nניתוח\nמסמכים\nNotebookLM Update: AI-powered audio summaries and business pilot launch\nאיתור\nמידע\nPerplexity Logo and symbol, meaning, history, PNG, brand\nניתוח\nנתונים\nClaude AI logo transparent PNG - StickPNG\nפיתוח\nוקוד\nClaude AI logo transparent PNG - StickPNG\nכתיבה\nוניסוח\nאוטומציה\nלמשימות\n8קטגוריות:\nעיצוב\nוגרפיקה\nבניית\nמצגות\nPresentations and Slide Decks with AI | Gamma\nיצירה\nמשותפת\nיצירה\nCreation\nבינה\nמלאכותית\nיוצרת\nהנחיות ליצירת ערך\nPrompt\nרעיון או\nמשימה\nחשיבה\nביקורתית\n17\n18\n\n02/16/2025\n10\nחיקוי אינטליגנציה אנושיתלביצוע משימות,\nויכולות\"שיפור עצמי\"על סמך איסוף מידע.\nמה זהAI?\nתרגיל\n19\n20\n\n02/16/2025\n11\nאיך מתרגמים\n\"שלום\" \nלאנגלית?\nנסדרבטבלה\n21\n22\n\n02/16/2025\n12\nAB\nDataset\nקשר בין נתונים\n0\n5\n10\n15\n20\n25\n30\n35\n40\nAB \nחישוב\nשלוםHello\n23\n24\n\n02/16/2025\n13\nA\nB\nאיך זהעובד?\nטקסט\nטקסט\n25\n26\n\n02/16/2025\n14\nטקסט\nאיך זהעובד?\nA\nB\n27\n28\n\n02/16/2025\n15\nהכתבהקולית\nGoogle Docs\n29\n30\n\n02/16/2025\n16\n31\n32\n\n02/16/2025\n17\n33\n34\n\n02/16/2025\n18\nVoice In\nA\nB\nטקסט\nטקסט\nאיך זהעובד?\n35\n36\n\n02/16/2025\n19\nמהפיכה...\nGenerative AI\nחיקויליכולת היצירה האנושית\nמהפיכהטכנולוגית\n37\n38\n\n02/16/2025\n20\nזיהויתבניות\n39\n40\n\n02/16/2025\n21\nשָׂמֵח\nָׂ \n שָׂרה\nילדים\nעצוב\nנחמד\nמושלם\nמה המילההרביעית?\nאיךעובדGen AI?\n41\n42\n\n02/16/2025\n22\nמרחקבין מילים\n43\n44\n\n02/16/2025\n23\n\"קשר מתמטי\"בין מילים\nLarge Language Model\n45\n46\n\n02/16/2025\n24\nCopilot\nChatGPT\nClaude\nGemini\nChatGPT\n47\n48\n\n02/16/2025\n25\n8קטגוריות:\nניתוח\nמסמכים\nNotebookLM Update: AI-powered audio summaries and business pilot launch\nאיתור\nמידע\nPerplexity Logo and symbol, meaning, history, PNG, brand\nניתוח\nנתונים\nClaude AI logo transparent PNG - StickPNG\nפיתוח\nוקוד\nClaude AI logo transparent PNG - StickPNG\nכתיבה\nוניסוח\nאוטומציה\nלמשימות\n8קטגוריות:\nעיצוב\nוגרפיקה\nבניית\nמצגות\nPresentations and Slide Decks with AI | Gamma\nאבטחת מידע\n49\n50\n\n02/16/2025\n26\nגניבת מידע\nמערכות בינה מלאכותית יכולות לשתף מידע באופן נרחב,\nמה שעלול לסכן סודות עסקיים ונתונים רגישים.\nתוכנות זדוניות\nקיימים כלים רבים,לעיתים ללא מקור ניתן לזיהוי.\nכמו כן תגובות בינה מלאכותית עשויות לכלול קוד זדוני.\nמידע שגוי\nמידע שנוצר על ידי בינה מלאכותית עשוי להיות לא מאומת,\nמה שמוביל לבעיות אמינות ובעיות קניין רוחני אפשריות.\nחשיפת מידע רגיש\nמידע שנכתב בכליAIעלול לחשוף נתונים סודיים או פנימיים של\nהארגון,ולכן מומלץ לא להשתמש בכלים אלה למידע פנימי.\n4סיכוניAIלארגונים:\nמדיניות להפחתת סיכונים:\nכלים מורשים בלבד\nיש להשתמשרק בכלים מאושרים על\nידי הארגוןלשימוש בעבודה,עם כתובת\nדואר אלקטרוני של החברה ומחשב נייד\nשל החברה.כל כליAIאחר דורש אישור,\nאו כניסה עם אימייל פרטי ממחשב אישי.\nהגבלות נתונים\nשיתוף מידע סודי,קנייני,מוגבל או\nהמאפשר זיהוי אישי(אודות עובדים,\nלקוחות או שותפים)עם כלים חיצוניים\nאסור בהחלט.\nמדיניות מתפתחת\nכל ארגון עשוי להוסיף או לחסום כלים\nמסוימיםבתוך פלטפורמת הבינה\nהמלאכותית הארגונית,ככל שהשימוש\nבה מתפתח.\n51\n52\n\n02/16/2025\n27\nדגש מיוחד \nמההכי חשוב?ישמאפיינים מיוחדים?\nקהל יעד \nמיהאנשיםשזה צריך להתאים להם?\nמשימה\nמה התוצר\nשאני רוצה לקבל?\nהגדרה כ\"מומחה\" \nמתמקד\"מתמטית\"בתוכן רלוונטי,\nועשוי לשפר את התוצאה\nאיך לבנות\"פרומפטאפקטיבי\"?\nאיך לבנות\"פרומפטאפקטיבי\"?\nאתה מומחה ל[תחום מקצועי/נישה.]\nהמשימה שלך היא[הגדרת התוצר.]\nעבור[קהל היעד.]\nשים דגש על[מאפיינים מיוחדים.]\n55\n56\n\n02/16/2025\n28\nאתה מומחהלפיתוח אסטרטגיות שיווק וניהול עסקי.\nהמשימה שלך היאלבנות תוכנית עבודה מקיפה למחלקת השיווק,כולל הגדרת יעדים עסקיים\nומדדי הצלחה(KPI)קביעת קהל יעד,גיבוש אסטרטגיות פרסוםודיגיטל,תכנון תקציב,לו\"ז\nפעילויות,חלוקת אחריות בין חברי הצוות,ושילוב כלים טכנולוגיים למדידה ושיפור ביצועים.\nקהל היעד הואמנהלי שיווק,צוותי מרקום,ואנשי ניהול בכירים שרוצים לייעל את פעילות\nהשיווק ולהגביר את החזר ההשקעה(ROI.)\nשים דגש עליצירת תוכנית ברורה וישימה,מבוססת נתונים,עם גמישות להתאמות עתידיות,\nוהתאמה למגמות השוק והתנהגות הצרכנים.\nאיך לבנות\"פרומפטאפקטיבי\"?\nאתה מומחהלניתוח פיננסי והערכת ביצועים כלכליים.\nהמשימה שלך היאלבצע ניתוח מקיף של דוחות פיננסיים,כולל דוח רווח והפסד,מאזן ודוח תזרימי\nמזומנים.עליך לזהות מגמות,להעריך את יציבות החברה,לזהות נקודות חולשה וחוזקה,ולספק תובנות\nמבוססות נתונים לגבי רווחיות,נזילות,יעילות פיננסית ומינוף.כמו כן,יש לכלול המלצות לשיפור הביצועים\nהפיננסיים ולקבלת החלטות מושכלות.\nקהל היעד הואמנהלים בכירים,משקיעים,אנשי כספים,ובעלי עסקים המעוניינים להבין טוב יותר את\nמצבם הכלכלי ולקבל החלטות אסטרטגיות מבוססות נתונים.\nשים דגש עלבהירות בהצגת הנתונים,שימוש במדדים פיננסיים מקובלים(כגון יחס רווחיות,יחס חוב להון\nעצמי,יחס נזילות),והשוואהלבנצ'מרקיםבתעשייה לצורך הערכת הביצועים ביחס למתחרים.\nאיך לבנות\"פרומפטאפקטיבי\"?\n57\n58\n\n02/16/2025\n29\nאתה מומחהלכתיבתניוזלטריםאפקטיביים המותאמים לקהל ארגוני.\nהמשימה שלך היאליצור ניוזלטר מקצועי ומעוצב לפרסום בתוך הארגון,שיספק עדכונים\nשוטפים,חדשות פנימיות,הישגים,אירועים קרובים,ותכנים רלוונטיים לעובדים.\nקהל היעד הואעובדי הארגון בדרגים ובמחלקות שונות,כולל הנהלה,צוותים מקצועיים ועובדים\nחדשים.\nשים דגש עלשפה ברורה ומניעה לפעולה,עיצוב אטרקטיבי ונגיש,תוכן שמחזק את מעורבות\nהעובדים ותחושת השייכות,ושימוש במדיה ויזואלית כמו תמונות,אייקונים וקישורים לתוכן\nנוסף.\nאיך לבנות\"פרומפטאפקטיבי\"?\nאיזה\"מומחה\"אני רוצה?\nשיעורי\nבית\nניהול\nזמן\nתכנון\nאירועים\nסיפורי\nילדים\nעיצוב\nפנים\nתכנון\nחופשות\nכתיבת\nברכות\nכושר\nובריאות\nעיצוב\nאופנה\nניהול\nקניות\n59\n60\n\n02/16/2025\n30\nמלא\nכולל4מימדים\nלמשימה\"חד-פעמית\"\nאינטראקטיבי\nשואל שאלות\nואוסף נתונים\nלפיצוחמותאם אישית\n3סוגי\"פרומפט\":\nאתה מומחה ל[תחום מקצועי/נישה.]\nהמשימה שלך היא[הגדרת התוצר.]\nשאל אותי שאלות.שאל שאלה אחת בכל פעם.\nכשיש לך מספיק מידע–בצע את המשימה.\nאיך לבנות\"פרומפטאינטראקטיבי\"?\n61\n62\n\n02/16/2025\n31\nאתה מומחהלניהול מותג בתעשיית התקשורת.\nהמשימה שלך היאלבנות תכנית שנתית לשיפור ואופטימיזציה של\nתפיסת המותג שלנו לשימור וגידול לקוחות עסקיים.\nשאל אותי שאלות.שאל שאלה אחת בכל פעם.\nכשיש לך מספיק מידע–בצע את המשימה.\nאיך לבנות\"פרומפטאינטראקטיבי\"?\nאוטומציה\nיכול לקבלנתון חדש\nלמשימות\"חוזרות\"\nמלא\nכולל4מימדים\nלמשימה\"חד-פעמית\"\nאינטראקטיבי\nשואל שאלות\nואוסף נתונים\nלפיצוחמותאם אישית\n3סוגי\"פרומפט\":\n63\n64\n\n02/16/2025\n32\nאתה מומחה ל[תחום מקצועי/נישה.]\nהמשימה שלך היא[הגדרת התוצר.]\nאני אתן לך[נתון משתנה לבחירתי.]\nלאחר מכן,בצע את המשימה.\nאיך לבנות\"פרומפטאוטומציה\"?\nאתה מומחהלכתיבת תיאורי משרה מקצועיים.\nהמשימה שלך היאלבנות תיאור משרה שיפורסם ברשת,\nלצורך גיוס עובדים חדשים.\nאני אתן לךפרטים על תפקיד שאליו אנחנו רוצים לגייס.\nלאחר מכן–בצע את המשימה.\nאיך לבנות\"פרומפטאוטומציה\"?\n65\n66\n\n02/16/2025\n33\nאיך לבחור \"פרומפט\" מתאים?\nאיך לבחור\"פרומפט\"מתאים?\nרפטטיבי?אוטומציה\nחד פעמי?מלא\nדורש פיצוח?אינטראקטיבי \nרעיוןאו\nמשימה\nטיפל\"מתקדמים\"\ntemperature\nיצירתיות\n0\n1\nיצירתי מאוד\nלא יצירתי\ndiversity_penalty\nגיוון\n0\n2\nמגוון ומפתיע\nחוזר על עצמו\nbest_of\nבחירה\nהמודל\"בוחר\"\nמתוך[כמות]\nאפשרויות\n67\n69\n\n02/16/2025\n34\nיצירתי,מגוון,1,000אפשרויות\nיצירתי,מגוון,1,000אפשרויות\n70\n71\n\n02/16/2025\n35\nלא יצירתי,שמרן,ללא בחירה\nלא יצירתי,שמרן,ללא בחירה\n72\n73\n\n02/16/2025\n36\nעריכה עםCANVAS\nתכונות נוספות\nעבודה עםקבצים\nתכונות נוספות\n74\n75\n\n02/16/2025\n37\nאוטומציה עםGPT(בתשלום)\nאוטומציהליצירת\"פרומפטמלא\"\nGPT לפרומפטמלא\n76\n77\n\n02/16/2025\n38\nהגדרותחשבון\nChatGPT\nהגדרת\"הוראות קבועות\"\nChatGPT\n78\n79\n\n02/16/2025\n39\nמהAIיודע ליצור?\nמהפיכה טכנולוגית\nטקסטויז'ואלקול\nמהAIיודע ליצור?\nמהפיכה טכנולוגית\nטקסטויז'ואלקול\n80\n81\n\n02/16/2025\n40\nChatGPT קולי\nGoogle AI Studio\n82\n83\n\n02/16/2025\n41\nסיכום\nסיכום\nוטיפים להמשך...\nכלים והדגמות\nלפרומפטיםאפקטיביים\nמה זה\"פרומפט\"? \nואיך זה עובד...\n050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il\nחומרים להמשך הלמידה\nשיתוף תוצריםלפידבק מקצועי\nתרגיליםלדוגמה\nתרגול\nלצפייהחוזרת\nהקלטות\nרשימת כליםלכל דוגמה\nמצגת+חוברת סיכוםודוגמאות\nחומרי למידה\nטופס ייעודי\nלשאלות ותשובות\nתמיכה\n85\n86\n\n02/16/2025\n42\nסקר קצר...\n87\n88\n\n02/16/2025\n43\n050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il\nתודה על הצפייה וההשתתפות!\n\"שינוי תפיסהדיגיטלי,מגיע\nמהתנסות מעשיתבכלים טכנולוגיים\".\nאלעדדרמון\nמרצה ומוביל לשינוי דיגיטלי בארגונים\nנתראה בהרצאה הבאה!\n89\n90\n\n02/16/2025\n44\n8קטגוריות:\nכתיבה\nוניסוח\n8קטגוריות:\n8קטגוריות:\nבניית\nמצגות\nPresentations and Slide Decks with AI | Gamma\n8קטגוריות:\n91\n92\n\n02/16/2025\n45\n8קטגוריות:\nעיצוב\nתמונות\n8קטגוריות:\n93",
          "cleanText": "אלעדדרמון מרצה בתחום כלשהו \"לדבר\"עם מכונה איך לכתובפרומפטאפקטיבי? היי,ותודה שהצטרפת! מיד מתחילים... אלעדדרמון מוביל שבועAI בהשתתפות: מתחילים בשעה 09:30☺ 050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il חומרים להמשך הלמידה שיתוף תוצריםלפידבק מקצועי תרגיליםלדוגמה תרגול לצפייהחוזרת הקלטות רשימת כליםלכל דוגמה מצגת+חוברת סיכוםודוגמאות חומרי למידה טופס ייעודי לשאלות ותשובות תמיכה אלעד דרמון ייעוץAIוכלים דיגיטלים לארגונים על מה נדבר בהדרכה? סיכום וטיפים להמשך... כלים והדגמות לפרומפטיםאפקטיביים מה זה\"פרומפט\"? ואיך זה עובד... 3חלקים: על מה נדברבהדרכה? Q & A שאלות ותשובות מהפיכה טכנולוגית AI הרבה כלים\"לכיף...\" 2024 בינה מלאכותית|\"תקופת מעבר\" שיפורביצועים עסקיים 2025 ארגז כלים לפי משימות מאובטח עומס כלים לא רלוונטי לא מאובטח משימות שלוקחות הרבה זמן התייעלותושיפור ביצועים עםAI התייעלותושיפור ביצועים 5שעות 3שעות תפוקה זמן 18%+ שיפור ביצועים 40%- חיסכון בזמן משימה התייעלותושיפור ביצועים 18%שיפורב-40%פחות זמן התייעלותושיפור ביצועים התייעלותושיפור ביצועים התייעלותושיפור ביצועים התייעלותושיפור ביצועים 30%אוטומציהבתוך5שנים התייעלותושיפור ביצועים התייעלותושיפור ביצועים 8קטגוריות: ניתוח מסמכים NotebookLM Update: AI-powered audio summaries and business pilot launch איתור מידע Perplexity Logo and symbol, meaning, history, PNG, brand ניתוח נתונים Claude AI logo transparent PNG - StickPNG פיתוח וקוד Claude AI logo transparent PNG - StickPNG כתיבה וניסוח אוטומציה למשימות 8קטגוריות: עיצוב וגרפיקה בניית מצגות Presentations and Slide Decks with AI | Gamma יצירה משותפת יצירה Creation בינה מלאכותית יוצרת הנחיות ליצירת ערך Prompt רעיון או משימה חשיבה ביקורתית חיקוי אינטליגנציה אנושיתלביצוע משימות, ויכולות\"שיפור עצמי\"על סמך איסוף מידע. מה זהAI? תרגיל איך מתרגמים \"שלום\" לאנגלית? נסדרבטבלה AB Dataset קשר בין נתונים AB חישוב שלוםHello A B איך זהעובד? טקסט טקסט טקסט איך זהעובד? A B הכתבהקולית Google Docs Voice In A B טקסט טקסט איך זהעובד? מהפיכה... Generative AI חיקויליכולת היצירה האנושית מהפיכהטכנולוגית זיהויתבניות שָׂמֵח ָׂ שָׂרה ילדים עצוב נחמד מושלם מה המילההרביעית? איךעובדGen AI? מרחקבין מילים \"קשר מתמטי\"בין מילים Large Language Model Copilot ChatGPT Claude Gemini ChatGPT 8קטגוריות: ניתוח מסמכים NotebookLM Update: AI-powered audio summaries and business pilot launch איתור מידע Perplexity Logo and symbol, meaning, history, PNG, brand ניתוח נתונים Claude AI logo transparent PNG - StickPNG פיתוח וקוד Claude AI logo transparent PNG - StickPNG כתיבה וניסוח אוטומציה למשימות 8קטגוריות: עיצוב וגרפיקה בניית מצגות Presentations and Slide Decks with AI | Gamma אבטחת מידע גניבת מידע מערכות בינה מלאכותית יכולות לשתף מידע באופן נרחב, מה שעלול לסכן סודות עסקיים ונתונים רגישים. תוכנות זדוניות קיימים כלים רבים,לעיתים ללא מקור ניתן לזיהוי. כמו כן תגובות בינה מלאכותית עשויות לכלול קוד זדוני. מידע שגוי מידע שנוצר על ידי בינה מלאכותית עשוי להיות לא מאומת, מה שמוביל לבעיות אמינות ובעיות קניין רוחני אפשריות. חשיפת מידע רגיש מידע שנכתב בכליAIעלול לחשוף נתונים סודיים או פנימיים של הארגון,ולכן מומלץ לא להשתמש בכלים אלה למידע פנימי. 4סיכוניAIלארגונים: מדיניות להפחתת סיכונים: כלים מורשים בלבד יש להשתמשרק בכלים מאושרים על ידי הארגוןלשימוש בעבודה,עם כתובת דואר אלקטרוני של החברה ומחשב נייד של החברה.כל כליAIאחר דורש אישור, או כניסה עם אימייל פרטי ממחשב אישי. הגבלות נתונים שיתוף מידע סודי,קנייני,מוגבל או המאפשר זיהוי אישי(אודות עובדים, לקוחות או שותפים)עם כלים חיצוניים אסור בהחלט. מדיניות מתפתחת כל ארגון עשוי להוסיף או לחסום כלים מסוימיםבתוך פלטפורמת הבינה המלאכותית הארגונית,ככל שהשימוש בה מתפתח. דגש מיוחד מההכי חשוב?ישמאפיינים מיוחדים? קהל יעד מיהאנשיםשזה צריך להתאים להם? משימה מה התוצר שאני רוצה לקבל? הגדרה כ\"מומחה\" מתמקד\"מתמטית\"בתוכן רלוונטי, ועשוי לשפר את התוצאה איך לבנות\"פרומפטאפקטיבי\"? איך לבנות\"פרומפטאפקטיבי\"? אתה מומחה ל[תחום מקצועי/נישה.] המשימה שלך היא[הגדרת התוצר.] עבור[קהל היעד.] שים דגש על[מאפיינים מיוחדים.] אתה מומחהלפיתוח אסטרטגיות שיווק וניהול עסקי. המשימה שלך היאלבנות תוכנית עבודה מקיפה למחלקת השיווק,כולל הגדרת יעדים עסקיים ומדדי הצלחה(KPI)קביעת קהל יעד,גיבוש אסטרטגיות פרסוםודיגיטל,תכנון תקציב,לו\"ז פעילויות,חלוקת אחריות בין חברי הצוות,ושילוב כלים טכנולוגיים למדידה ושיפור ביצועים. קהל היעד הואמנהלי שיווק,צוותי מרקום,ואנשי ניהול בכירים שרוצים לייעל את פעילות השיווק ולהגביר את החזר ההשקעה(ROI.) שים דגש עליצירת תוכנית ברורה וישימה,מבוססת נתונים,עם גמישות להתאמות עתידיות, והתאמה למגמות השוק והתנהגות הצרכנים. איך לבנות\"פרומפטאפקטיבי\"? אתה מומחהלניתוח פיננסי והערכת ביצועים כלכליים. המשימה שלך היאלבצע ניתוח מקיף של דוחות פיננסיים,כולל דוח רווח והפסד,מאזן ודוח תזרימי מזומנים.עליך לזהות מגמות,להעריך את יציבות החברה,לזהות נקודות חולשה וחוזקה,ולספק תובנות מבוססות נתונים לגבי רווחיות,נזילות,יעילות פיננסית ומינוף.כמו כן,יש לכלול המלצות לשיפור הביצועים הפיננסיים ולקבלת החלטות מושכלות. קהל היעד הואמנהלים בכירים,משקיעים,אנשי כספים,ובעלי עסקים המעוניינים להבין טוב יותר את מצבם הכלכלי ולקבל החלטות אסטרטגיות מבוססות נתונים. שים דגש עלבהירות בהצגת הנתונים,שימוש במדדים פיננסיים מקובלים(כגון יחס רווחיות,יחס חוב להון עצמי,יחס נזילות),והשוואהלבנצ'מרקיםבתעשייה לצורך הערכת הביצועים ביחס למתחרים. איך לבנות\"פרומפטאפקטיבי\"? אתה מומחהלכתיבתניוזלטריםאפקטיביים המותאמים לקהל ארגוני. המשימה שלך היאליצור ניוזלטר מקצועי ומעוצב לפרסום בתוך הארגון,שיספק עדכונים שוטפים,חדשות פנימיות,הישגים,אירועים קרובים,ותכנים רלוונטיים לעובדים. קהל היעד הואעובדי הארגון בדרגים ובמחלקות שונות,כולל הנהלה,צוותים מקצועיים ועובדים חדשים. שים דגש עלשפה ברורה ומניעה לפעולה,עיצוב אטרקטיבי ונגיש,תוכן שמחזק את מעורבות העובדים ותחושת השייכות,ושימוש במדיה ויזואלית כמו תמונות,אייקונים וקישורים לתוכן נוסף. איך לבנות\"פרומפטאפקטיבי\"? איזה\"מומחה\"אני רוצה? שיעורי בית ניהול זמן תכנון אירועים סיפורי ילדים עיצוב פנים תכנון חופשות כתיבת ברכות כושר ובריאות עיצוב אופנה ניהול קניות מלא כולל4מימדים למשימה\"חד-פעמית\" אינטראקטיבי שואל שאלות ואוסף נתונים לפיצוחמותאם אישית 3סוגי\"פרומפט\": אתה מומחה ל[תחום מקצועי/נישה.] המשימה שלך היא[הגדרת התוצר.] שאל אותי שאלות.שאל שאלה אחת בכל פעם. כשיש לך מספיק מידע–בצע את המשימה. איך לבנות\"פרומפטאינטראקטיבי\"? אתה מומחהלניהול מותג בתעשיית התקשורת. המשימה שלך היאלבנות תכנית שנתית לשיפור ואופטימיזציה של תפיסת המותג שלנו לשימור וגידול לקוחות עסקיים. שאל אותי שאלות.שאל שאלה אחת בכל פעם. כשיש לך מספיק מידע–בצע את המשימה. איך לבנות\"פרומפטאינטראקטיבי\"? אוטומציה יכול לקבלנתון חדש למשימות\"חוזרות\" מלא כולל4מימדים למשימה\"חד-פעמית\" אינטראקטיבי שואל שאלות ואוסף נתונים לפיצוחמותאם אישית 3סוגי\"פרומפט\": אתה מומחה ל[תחום מקצועי/נישה.] המשימה שלך היא[הגדרת התוצר.] אני אתן לך[נתון משתנה לבחירתי.] לאחר מכן,בצע את המשימה. איך לבנות\"פרומפטאוטומציה\"? אתה מומחהלכתיבת תיאורי משרה מקצועיים. המשימה שלך היאלבנות תיאור משרה שיפורסם ברשת, לצורך גיוס עובדים חדשים. אני אתן לךפרטים על תפקיד שאליו אנחנו רוצים לגייס. לאחר מכן–בצע את המשימה. איך לבנות\"פרומפטאוטומציה\"? איך לבחור \"פרומפט\" מתאים? איך לבחור\"פרומפט\"מתאים? רפטטיבי?אוטומציה חד פעמי?מלא דורש פיצוח?אינטראקטיבי רעיוןאו משימה טיפל\"מתקדמים\" temperature יצירתיות יצירתי מאוד לא יצירתי diversity_penalty גיוון מגוון ומפתיע חוזר על עצמו best_of בחירה המודל\"בוחר\" מתוך[כמות] אפשרויות יצירתי,מגוון,1,000אפשרויות יצירתי,מגוון,1,000אפשרויות לא יצירתי,שמרן,ללא בחירה לא יצירתי,שמרן,ללא בחירה עריכה עםCANVAS תכונות נוספות עבודה עםקבצים תכונות נוספות אוטומציה עםGPT(בתשלום) אוטומציהליצירת\"פרומפטמלא\" GPT לפרומפטמלא הגדרותחשבון ChatGPT הגדרת\"הוראות קבועות\" ChatGPT מהAIיודע ליצור? מהפיכה טכנולוגית טקסטויז'ואלקול מהAIיודע ליצור? מהפיכה טכנולוגית טקסטויז'ואלקול ChatGPT קולי Google AI Studio סיכום סיכום וטיפים להמשך... כלים והדגמות לפרומפטיםאפקטיביים מה זה\"פרומפט\"? ואיך זה עובד... 050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il חומרים להמשך הלמידה שיתוף תוצריםלפידבק מקצועי תרגיליםלדוגמה תרגול לצפייהחוזרת הקלטות רשימת כליםלכל דוגמה מצגת+חוברת סיכוםודוגמאות חומרי למידה טופס ייעודי לשאלות ותשובות תמיכה סקר קצר... 050-8176677 | office@digitalculture.co.il | www.digitalculture.co.il תודה על הצפייה וההשתתפות! \"שינוי תפיסהדיגיטלי,מגיע מהתנסות מעשיתבכלים טכנולוגיים\". אלעדדרמון מרצה ומוביל לשינוי דיגיטלי בארגונים נתראה בהרצאה הבאה! 8קטגוריות: כתיבה וניסוח 8קטגוריות: 8קטגוריות: בניית מצגות Presentations and Slide Decks with AI | Gamma 8קטגוריות: 8קטגוריות: עיצוב תמונות 8קטגוריות:"
        }
      }
    ]
  },
  "versionId": "f6638917-b3e1-4e90-8a18-56530e9839ed",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-01T20:25:52.111Z",
      "createdAt": "2025-09-01T20:25:52.111Z",
      "role": "workflow:owner",
      "workflowId": "1438o260Eyk7roJM",
      "projectId": "0zP1zvCUNJRhmJuK"
    }
  ],
  "activeVersion": null,
  "tags": []
}