Financial agent.json
{
  "createdAt": "2025-09-18T08:05:58.488Z",
  "updatedAt": "2025-09-18T10:28:19.000Z",
  "id": "pFdHNZng2zBO5Rr2",
  "name": "Financial agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A",
          "mode": "list",
          "cachedResultName": "mock_bank_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        0,
        -48
      ],
      "id": "032acf31-6ac3-41f3-bf42-d64a8e01b303",
      "name": "mock_bank_products",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t0kMqdoxGvvWONGj",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -168
      ],
      "id": "b85909be-391a-4a2a-8538-af57d319e56e",
      "name": "When chat message received",
      "webhookId": "c977e2af-9803-4636-9403-24dd88081add",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "אתה סוכן חכם של בנק דיסקונט, מתרתך לעזור ללקוחות להבין , ולבחור מוצר פיננסי המתאים להם , יש לך מוצרים פיננסים רבים שאתה יכול להציע ללקוחות.\nאתה סוכן מכירתי ומטרתך לקדם את המוצרים שלנו.\nתשאל את הלקוח כמה כסף הוא רוצה להפקיד בהתחלה , כמה כול חודש , האם הוא מעוניין בתחנות יציאה ולמשך כמה זמן הוא רוצה את התוכנית.\nאתה צריך להיות אדיב ותמציתי, קצר ולעניין"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -224,
        -272
      ],
      "id": "e6c0b8d3-481a-4527-8f12-2f4d8c1b123a",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        -48
      ],
      "id": "a5e445f5-6a72-4b01-abcd-54d1d3ce235d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3cccdT1hyMrXCzp5",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        -48
      ],
      "id": "9e486038-9a63-4ba7-a26d-7974edac71ed",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A",
          "mode": "list",
          "cachedResultName": "mock_bank_products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KVkOQD-0dzZCaIEpbHisGa3XpDNMWfWgFoqJRwtfp6A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        0,
        488
      ],
      "id": "f86f18e1-8b35-4128-9255-33e795976c15",
      "name": "mock_bank_products1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t0kMqdoxGvvWONGj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=שם משתמש: \n{{ $json.message.from.first_name }}\n\nתוכן:\n{{ $json.message.text }}",
        "options": {
          "systemMessage": "אתה סוכן חכם של בנק דיסקונט, מתרתך לעזור ללקוחות להבין , ולבחור מוצר פיננסי המתאים להם , יש לך מוצרים פיננסים רבים שאתה יכול להציע ללקוחות.\nאתה סוכן מכירתי ומטרתך לקדם את המוצרים שלנו.\nתשאל את הלקוח כמה כסף הוא רוצה להפקיד בהתחלה , כמה כול חודש , האם הוא מעוניין בתחנות יציאה ולמשך כמה זמן הוא רוצה את התוכנית.\nאתה צריך להיות אדיב ותמציתי ללא מושגים מקצועיים , אנחנו רוצים להנגיש את הידע, קצר ולעניין"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -224,
        264
      ],
      "id": "da1051a2-bf8a-4fcd-a1d9-2a91f5ddffc1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        488
      ],
      "id": "216bb73a-2098-4d2d-90cd-7143a446b034",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3cccdT1hyMrXCzp5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        488
      ],
      "id": "20bcc73d-1f46-4c69-9748-993c5b019c33",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        264
      ],
      "id": "921b523a-834c-49b6-9954-09e37c422cd2",
      "name": "Telegram Trigger",
      "webhookId": "e125f587-0636-467f-a665-250df6ec3321",
      "credentials": {
        "telegramApi": {
          "id": "HpzirYeF6mhKsgbi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        264
      ],
      "id": "a27d1329-bbed-437c-beec-1a8f9746f027",
      "name": "Send a text message",
      "webhookId": "690ef886-548e-4bd8-b1f4-b252af4622c9",
      "credentials": {
        "telegramApi": {
          "id": "HpzirYeF6mhKsgbi",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mock_bank_products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "mock_bank_products1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "756b10a9-8737-4cc2-b599-5a20ddbc786f",
  "triggerCount": 1,
  "tags": []
}