github-backup.json
{
  "createdAt": "2025-08-02T17:38:05.705Z",
  "updatedAt": "2025-08-02T18:05:08.000Z",
  "id": "MhRnb6RKysO6nMJf",
  "name": "GitHub backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "20d6dd0b-ce92-4454-895e-29f2a49ada36",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2048,
        128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b881406e-2afb-4662-8694-93779bdb0684",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1376,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "2gLKKvTOfZpqaTKc",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "1075145a-dc59-40b9-867e-7c951ddb1a69",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1600,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "="
      },
      "id": "f4007587-13ef-48d7-987d-f8a27b2b4a64",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1824,
        128
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "8c64d70b-3f33-4a9e-9de5-1cb09b9b8dbb",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        -256,
        32
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "96f1c296-9698-4dce-88c0-69e4012cb04d",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -480,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "183c381f-0330-4dc3-8956-543d9f85967b",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -1152,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "9956c714-0756-4ed6-8b84-e12187a8350c",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -928,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "81118d64-3b7a-40d1-b6c4-01f15b03c584",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        -704,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "eba25225-05b1-4901-927b-5a186d05aa88",
      "name": "Upload new file",
      "type": "n8n-nodes-base.github",
      "position": [
        -256,
        224
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8c08e47a-ecc1-4109-a17a-a756eabef1e3",
  "triggerCount": 0,
  "tags": []
}