GitHub backup.json
{
  "createdAt": "2025-08-04T06:53:19.339Z",
  "updatedAt": "2025-08-14T19:31:03.000Z",
  "id": "2eutWIo82xXAchmu",
  "name": "GitHub backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a811d330-7e26-4c8c-ba24-c801333bc9af",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -768,
        64
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "12878d11-b7ef-4d4b-9985-cb0fba2bcf64",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -544,
        64
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "2gLKKvTOfZpqaTKc",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "887a0e34-9f4c-4674-b179-6e6e3df8d985",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -96,
        64
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "62c593d3-9695-4228-8c88-af1b00572780",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        128,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "08adbe10-bd76-4e75-a2c2-645a79062bd5",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        352,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName}}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $json.fileName }} - {{ $node['Commit date & file name'].json.commitDate }} "
      },
      "id": "95c04227-3a75-4881-bde7-505b4dccf3ee",
      "name": "Upload new file",
      "type": "n8n-nodes-base.github",
      "position": [
        576,
        64
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8b9c5dd-d2f7-4446-8826-26ce6d169071",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        64
      ],
      "id": "0be92822-997a-416e-8759-e87d6ee88d76",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        288
      ],
      "id": "4fb5eaa6-3bc6-42ef-9008-7ab904ba3606",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $json.name }}",
        "commitMessage": "clear all - n8n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -96,
        288
      ],
      "id": "70f5220d-f981-49aa-9f3f-340c70813da6",
      "name": "Delete a file",
      "webhookId": "47a2ce0e-ac63-475b-8297-027c02ee710f",
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "="
      },
      "id": "b5552b56-9a35-415d-85f9-8cbf5fa39e40",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        -544,
        288
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24a7a0fe-c711-444d-b331-aca8d1a9b7ab",
              "leftValue": "={{ $json.name }}",
              "rightValue": "json",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        288
      ],
      "id": "017ce8c1-4221-495f-b0a7-89b16cf62050",
      "name": "Filter1"
    }
  ],
  "connections": {
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Upload new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d65050d9-b2a2-41c4-adb0-bee488c4d6a2",
  "triggerCount": 0,
  "tags": []
}