My workflow 10.json
{
  "createdAt": "2025-08-04T06:53:19.339Z",
  "updatedAt": "2025-08-04T06:53:19.339Z",
  "id": "2eutWIo82xXAchmu",
  "name": "My workflow 10",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "f8cc95a7-cb73-40f4-b17f-fffea95a0404",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -144,
        48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "69032551-edc4-41e0-8a2d-5196dd81fbfa",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        80,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "2gLKKvTOfZpqaTKc",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}.json"
        }
      },
      "id": "71172394-6b30-41c4-aa03-e99a287d4f55",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        528,
        48
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a1e4f099-f6f0-48ce-85a0-218f156388ea",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        752,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a953370-bdd6-4dc2-b083-1e7ad549f5e2",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName}}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "178cc3e2-001d-45f0-9b32-c31bf9e62aee",
      "name": "Upload new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1200,
        48
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8b9c5dd-d2f7-4446-8826-26ce6d169071",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        48
      ],
      "id": "d5b1bf74-d10c-458b-b8d7-adf7919a2c36",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        272
      ],
      "id": "66534e5c-4d2e-4b66-85ca-d69f7398c5ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "={{ $json.name }}",
        "commitMessage": "clear all - n8n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        304,
        272
      ],
      "id": "90c0fe15-c9c2-4dc0-b1c9-a6b7ec6b6892",
      "name": "Delete a file",
      "webhookId": "47a2ce0e-ac63-475b-8297-027c02ee710f",
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/davidHarush",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8nBackup",
          "mode": "list",
          "cachedResultName": "n8nBackup",
          "cachedResultUrl": "https://github.com/davidHarush/n8nBackup"
        },
        "filePath": "="
      },
      "id": "1706ec02-1761-47b6-b263-b385061fc643",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        80,
        272
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "YYCMAOtGUvvjcPv7",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Upload new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "61f1b715-16e0-414a-aa57-bac322b89007",
  "triggerCount": 0,
  "tags": []
}