my-workflow-4.json
{
  "createdAt": "2025-07-31T19:37:09.603Z",
  "updatedAt": "2025-08-02T09:06:42.000Z",
  "id": "o93E1vY3tNX9cAgE",
  "name": "My workflow 4",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -80
      ],
      "id": "38f4f1a1-027c-4c32-8201-4f9dcc385f4c",
      "name": "Telegram Trigger",
      "webhookId": "b200a991-a541-4d99-817f-3ce9c376fe2b",
      "credentials": {
        "telegramApi": {
          "id": "HpzirYeF6mhKsgbi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -80
      ],
      "id": "b0c55d36-221d-4cf5-933c-86f83250c93a",
      "name": "Send a text message",
      "webhookId": "16627a14-3548-4571-ac40-d115cd4c53f3",
      "credentials": {
        "telegramApi": {
          "id": "HpzirYeF6mhKsgbi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a helpful Telegram assistant.\nYou get a message from user  {{ $json.message.from.last_name }}\nwith the id {{ $json.message.from.id }}\n\nin chatRoom: {{ $json.message.chat.id }} , \n\n\nthe chatRoom type is {{ $json.message.chat.type }}\n\ncurrentDate : {{ $json.currentDate }}\n\n\nYou have access to the following tool:\n1. Google Calendar Tool – use it to get events from the family calendar. \n   You can use it to check upcoming events, find free times, or answer scheduling questions.\n\nImportant:\n- If the user asks about dates, schedules, or events, always use the Google Calendar Tool.\n- Return the final response in clean HTML format, ready for Telegram (use <b>bold</b> for emphasis, simple line breaks).\n- Do NOT use Markdown formatting (**bold**, _, ~, etc.).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -384,
        -80
      ],
      "id": "07b40edc-55cb-441a-8503-4a5bb2cfead4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        144
      ],
      "id": "1fea8c55-527b-4a84-9351-691975191e2d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        144
      ],
      "id": "1f50747f-d247-4e57-8f08-a103f4fd6605",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3e4I4idKS4czltyG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14cbf876-e9a4-4e94-86c8-b43f2047b0c8",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -80
      ],
      "id": "25d97958-a303-4301-b54e-4cd875cbc353",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "family09687667346947656727@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "היומן המשפחתי"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1120,
        424
      ],
      "id": "e7be1cc1-66e8-47bc-846b-b2309eb8e57b",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCCaAfdsLkxUeIZ5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -288,
        144
      ],
      "id": "bdd5666a-a0de-40e9-9f67-673efa93f44f",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent calendar tool",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -912,
        424
      ],
      "id": "58cf0de3-8e36-443b-af37-7da02663d0b2",
      "name": "AI Agent calendar tool"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -1120,
        600
      ],
      "id": "af7311a4-0c14-4c9b-8780-e5cbcd135c5c",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        248
      ],
      "id": "c57ee877-4005-4d2a-832a-053b2eaea53a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3e4I4idKS4czltyG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool to get calendar events.\n\nit need to be in this format:\n\n\n[\n  {\n    \"startDate\": <string>,\n    \"endDate\":<string>\n  }\n]\n",
        "workflowId": {
          "__rl": true,
          "value": "jePUBX3n3CSSHfqe",
          "mode": "list",
          "cachedResultName": "CalendarTool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "startDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDate', ``, 'string') }}",
            "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDate', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -160,
        144
      ],
      "id": "bc390cf8-42de-480a-b722-09bfce211711",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -32,
        144
      ],
      "id": "d8ec4858-d21d-48b1-88be-a830838feeff",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "8eaeb34c-88ec-452d-869b-3b25105d1351",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "cECarDbKzV3VuLZK",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        144
      ],
      "id": "a4c82844-1d88-466c-b540-a0631b98c5c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3cccdT1hyMrXCzp5",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent calendar tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent calendar tool": {
      "ai_tool": [
        []
      ]
    },
    "Date & Time1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent calendar tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent calendar tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1829ce25-d3af-4f85-b2db-2203cd625d3c",
  "triggerCount": 1,
  "tags": []
}