my-workflow-2.json
{
  "createdAt": "2025-07-30T20:48:37.780Z",
  "updatedAt": "2025-07-31T19:32:22.000Z",
  "id": "zo7wwAjaYuaQpXUX",
  "name": "My workflow 2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": "0",
              "minute": "0"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -64,
        112
      ],
      "id": "dc5d55ce-945e-48d2-95eb-16190df30034"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$env.N8N_HOST}}/rest/workflows",
        "jsonParameters": true,
        "options": {}
      },
      "name": "List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        144,
        112
      ],
      "id": "ca10e227-b46d-4e52-a0fa-df505bcf3c07"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        336,
        112
      ],
      "id": "44be586a-1781-4922-8f32-9a0cc52ef769"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$env.N8N_HOST}}/rest/workflows/{{$json[\"id\"]}}",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Get Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        544,
        112
      ],
      "id": "244c0456-2e9e-4bb9-9eea-896fae789033"
    },
    {
      "parameters": {
        "functionCode": "const safeName = item.json.name.replace(/[^a-z0-9_\\-]/gi, '_') + '.json';\nreturn [{ json: { path: `workflows/${safeName}`, content: JSON.stringify(item.json, null, 2), name: item.json.name } }];"
      },
      "name": "Prepare File",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        736,
        112
      ],
      "id": "a49e51a2-ec7e-4acc-ae9c-ccfe8ee5db7f"
    },
    {
      "parameters": {
        "owner": "={{$env.GITHUB_REPO_OWNER}}",
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "labels": [],
        "assignees": []
      },
      "name": "GitHub - Create or Update File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        944,
        112
      ],
      "id": "fd9d53a4-69f6-4f5d-878f-76091491fbf2",
      "webhookId": "784247b8-6589-494e-bbc2-870ae740b1f0"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        416
      ],
      "id": "26ea2218-65c2-4c7a-9011-9fbf4e420783",
      "webhookId": "20101966-094b-4cf3-9cc1-ce063b02804a"
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Echo: {{$json[\"message\"][\"text\"]}}",
        "additionalFields": {}
      },
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        368,
        416
      ],
      "id": "b26b59b0-68dd-4064-85ac-023818b7d435",
      "webhookId": "4ceee700-8b01-4fc0-bec2-1c17cdeadcf1",
      "credentials": {
        "telegramApi": {
          "id": "HpzirYeF6mhKsgbi",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "List Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Prepare File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File": {
      "main": [
        [
          {
            "node": "GitHub - Create or Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0bf3fac3-2622-4835-93dc-d53303166296",
  "triggerCount": 0,
  "tags": []
}