telegram-agent.json
{
  "createdAt": "2025-07-17T20:51:00.542Z",
  "updatedAt": "2025-07-22T15:15:55.000Z",
  "id": "SumItlyGAYGuLyuJ",
  "name": "telegram-agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "da430e7e-eda5-42f0-a23a-712c7a4010b0",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        384,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "7024e194-394f-411b-92dc-95b82e97f576",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        976,
        352
      ],
      "typeVersion": 1.1,
      "webhookId": "f900177d-8932-43df-ba16-4f8d03ef4220",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ab2782ea-6dcc-466c-834d-c492de7d5add",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -640,
        272
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "e1X2vX46CWIkFhUM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Listen for incoming events').item.json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful AI assistant. You are chatting with the user named ``{{ $('Listen for incoming events').item.json.message.from.username }}. Today is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}\n\nIf the user asks for news, you can use a news tool to give him news.\n\nIf the user asks for the weather, you can use an OpenWeatherMap tool,\nIf the user does not supply a city, assume that he is in Tel Aviv.\n\nFrom time to time, call a user by name (if the user name is provided). In your reply, always send a message in Telegram-supported HTML format. Here are the formatting instructions:\n1. The following tags are currently supported:\n<b>bold</b>, <strong>bold</strong>\n<i>italic</i>, <em>italic</em>\n<u>underline</u>, <ins>underline</ins>\n<s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n<span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n<b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>\n<a href=\"http://www.example.com/\">inline URL</a>\n<code>inline fixed-width code</code>\n<pre>pre-formatted fixed-width code block</pre>\n2. Any code that you send should be wrapped in these tags: <pre><code class=\"language-python\">pre-formatted fixed-width code block written in the Python programming language</code></pre>\nOther programming languages are supported as well.\n3. All <, > and & symbols that are not a part of a tag or an HTML entity must be replaced with the corresponding HTML entities (< with &lt;, > with &gt; and & with &amp;)\n4. If the user sends you a message starting with / sign, it means this is a Telegram bot command. For example, all users send /start command as their first message. Try to figure out what these commands mean and reply accodringly\n"
        }
      },
      "id": "c6b1a7fb-4ca9-4274-9585-83b21df386fa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        304,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "description": "call the tool when the user ask for news",
        "workflowId": {
          "__rl": true,
          "value": "WMM3dxVRuk21kuz3",
          "mode": "list",
          "cachedResultName": "inner-tool-news"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        496
      ],
      "id": "895325bd-d8d3-45ce-a796-e4b82aa55a76",
      "name": "newsTool"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ab93202-f9cc-4f6b-a02b-3e05ec70e9c7",
      "name": "OpenAI Chat Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        256,
        496
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "tTRY0oek56OlQ2X6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3719437-ea5a-4118-9d21-5572e656628a",
              "leftValue": "={{ $json.message.from.id.toString()}}",
              "rightValue": "530815619",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -64
      ],
      "id": "3b3f3abe-51f1-45c6-94e8-bfad58efbb89",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "uesrs"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -416,
        272
      ],
      "id": "cefa60df-b777-44e0-8d6f-a8aa02286332",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "zXlBxM0PxNYmKB8I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "telegram_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -192,
        272
      ],
      "id": "c5c0723c-e657-41bf-ba59-f6cef5398ac5",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "885725d5-4f76-48a2-8f7a-5f1b2a5e1354",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        720,
        272
      ],
      "typeVersion": 1.1,
      "webhookId": "a9a98a13-79bc-4743-bc41-a24ec82e3101",
      "credentials": {
        "telegramApi": {
          "id": "e1X2vX46CWIkFhUM",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9f3eac2-5d84-42ff-905f-44c827ea9876",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Listen for incoming events').item.json.message.from.id }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "674e4d67-a963-4e7e-a14e-49315b111074",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Listen for incoming events').item.json.message.chat.id }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        272
      ],
      "id": "15529c2f-f4c7-4574-861c-56672dc5da50",
      "name": "If1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'session:' + $node['Listen for incoming events'].json.message.chat.id }}",
        "sessionTTL": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -640,
        592
      ],
      "id": "e96c4894-62a6-4e14-b5f8-96d64a6e654a",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "B2GlY4erXA6PrPVT",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -640,
        800
      ],
      "id": "86f25de5-1e5c-4106-b7d6-342ca6dd2731",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "B2GlY4erXA6PrPVT",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newsTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e41ca28c-a321-4e45-bcbc-2fbe3c8ad92d",
  "triggerCount": 1,
  "tags": []
}